
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Open+Sans:wght@300;400;700;800&display=swap');
body{
  padding: 13px;
  min-height: 100vh;
  font-family: 'montserrat';
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
}
li {
    
    padding: 20px;
    display: flex;
    
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  li:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }
 img{
    height: 100px;
    width: 100px;
    
  } 

  .App-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }

  .textDiv{
    display: flex;
    flex-direction: column;
    margin-left : 15px;
    margin-right: 10px;
    flex-basis: 60%;
  }

  .buttonDiv{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
  }

   button,a {
    background-color:#485fc7;
    border: none;
    color: white;
    text-align: center;
    padding : 8px 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    font-family: 'montserrat';
  }

  .app-title{
    font-family: 'Bebas Neue';
    font-size: 25px;
  }
 
  .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }

  .nextButtonDiv{
    margin-top: 15px;
    margin-bottom: 5px;
  }